@model Hadis.Models.DBModels.TestCategoryTestThema

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TestCategoryTestThema</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TestCategory.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestCategory.Category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TestThema.Thema)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TestThema.Thema)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
