
@{
    ViewBag.Title = "Привет";
}

<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Здравствуйте @User.Identity.Name</h1>
            <p class="lead text-muted">Центр теститоравание, управление тестированием</p>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">

            <div class="row">
                <div class="col-sm-12 col-md">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Images/data-base-bg.jpg" data-src="~/Images/data-base-bg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">База тестов</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Открыть", "Index", new { controller = "TestThemas" }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Images/result-bg.jpg" data-src="~/Images/result-bg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Результаты тестирование</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Открыть", "Index", new { controller = "ClientTestHistories" }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Images/callback-bg.jpg" data-src="~/Images/callback-bg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Обратный связь</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Открыть", "Index", new { controller = "ClientCallBacks" }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Images/ic_videos.png" data-src="~/Images/callback-bg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Видео материалы</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Открыть", "Index", new { controller = "Videos" }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md">
                    <div class="card mb-4 shadow-sm">
                        <img class="card-img-top" src="~/Images/teacher-bg.jpg" data-src="~/Images/teacher-bg.jpg" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">Кураторы</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    @Html.ActionLink("Открыть", "Index", new { controller = "Curators" }, htmlAttributes: new { @class = "btn btn-sm btn-outline-secondary" })
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

